.navbar {
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #fdfdfd;
    font-size: 15px;
    padding: 0 10%;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.39);
  }
  
  a { 
    font-family: Lucida Sans Unicode;
    text-decoration: none;
    color: #010101;
    /* mix-blend-mode: difference; */
    margin: 0 10px;
    padding: 10px 0;
  }
  
  .navbar a.active {
    color: #6575a2;
  }

  .navbar a:hover {
    transition-duration: 0.2s;
    color: #a0bded;
  }
  
  .rightButtons {
    float: right;
    margin-left: auto;
    display: flex; 
    align-items: center;
  }