.navbar {
    width: 100%;
    height: 30px;
    display: inline-block;
    background-color: rgba(255,255,255);
    font-size: 10px;
    margin-top: 0%;
}

li {
    display: inline;
    margin: 2px;
}

a {
    text-decoration: none;
    color: white;
    mix-blend-mode: difference;
}
