body {
    font-family: "Lucida Console", "Courier New", monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;  
    margin: 0;         
    background-color: #f0f0f0; 
}

.centered-box { 
    background-color: rgba(231, 231, 231, 0.904); /* Adjust background color as desired */
    width: 40%;
    height: 100%;
    
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 0px 39px 7px rgba(0,0,0,0.58);
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    padding:0;
    margin:0;
    left: 0px;
    top: 0px;
    z-index: -1000;
    overflow:hidden;
    background-color: white;
}

.myVideo {
    min-height: 100%;
    /* min-width:100%; - if fit to width */
    position:absolute;
    bottom:0;
    left:0;
}



