body {
    background-color: red;
    /* display: block; */
}

.intro {
    margin-top: 0;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
}


.image {
    width: 50%;
    float: right;
    /* border: 2px solid blue; */
}

.spacer {
    width: 50%;
    height: auto;
    
    position: relative;
    /* border: 2px solid black; */
}