<div class="intro">
    <div class="spacer">
        <h3> Developer </h3>
        <h1> Welcome, my name is Anton Tairov! </h1>
        <h2> This is the digital lair of a Computer Science graduate from Trinity College Dublin! Dive in to discover my adventures in code, my triumphs over bugs, and the innovative projects that I’ve brought to life. From sleek algorithms to quirky side projects, this is where you'll find the essence of my journey through the labyrinth of technology. </h2>
    </div>
    <img src="../../../assets/images/ProfilePicture.png" class="image"/>
</div>

    

